<div class="center jumbotron hme_jumbo">
  <h1 class="hme_h1">Welcome to CryptoDeck</h1>

  <h2 class="hme_h2">
    CryptoDeck is your <strong>ULTIMATE</strong> social media platform!<br/>
    What we strive to create here at CryptoDeck is;<br/>
    * Political Free Operations!<br/>
    * Anonymity For All!<br/>
    * Freedom of Speech!<br/>
    Based on the growing cryptocurrency theory, our mission is to provide a social networking site
    dedicated to enhancing different cryptocurrencies for everyone to enjoy! As we grow, you
    will be able to send and receive cryptocoins directly from your portal!<br/>
    What are you waiting for? Join the revolution and take back your online social presence!
  </h2>

  <%= link_to "Enter Portal!", '#', class: "btn btn-lg btn-primary" %>&nbsp;&nbsp;&nbsp;<%= link_to 'Create Portal!', signup_path, class: 'btn btn-lg btn-success' %>
</div>
