<% provide(:title, 'All users') %>


<%= will_paginate %>

<ul class="users" style="background-color: rgba(0,0,0,0.7); color: #FFF; box-shadow: 10px 10px 14px #00F; padding: 10px;">
  <h1 style="font-family: 'Exo', sans-serif; color: #0F0;">Registered Known Portals;</h1>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
