.usr_abt_hdr
{
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: #FFF;
}
.post_count
{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: #FFF;
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
    height: 300px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    height: 200px;
}

@media (max-width:768px)
{

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
}
}

.usr_img_sml
{
  width: 100px;
  height: 100px;
}

.upd8_prtl
{
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  color: #FFF;
  text-align: center;
  text-shadow: 7px 7px 10px #000;
}

.portal_box
{
  background-color: rgba(255,255,255,0.7);
  border: 5px solid #000;
  box-shadow: 10px 10px 15px #00F;
  padding: 15px;
}

.frm_txt
{
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}
